body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 62, 62);
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    text-align: center;
    margin: 0%
}

/* h1 {
    margin: 0;
    max-width: 275px;
} */

.logo {
    color: whitesmoke;
    margin: 20px;
    font-size: 60px;
}

nav {
    display: flex;
    justify-content: space-around
}

img {
    max-width: 300px;
}

button {
    color: whitesmoke;
    background-color: transparent;
    border: transparent;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

input{
    color: whitesmoke;
    background-color: black;
    border: whitesmoke;
    border-width: 3px;
    font-family: 'Roboto Condensed', sans-serif;
}